<div class="wrapper container">
  <div class="paper">
    <div class="content">
      <div class="paper-header d-flex align-items-center justify-content-between">
        <h3 class="mb-0">{{project.title}}</h3>
        <a routerLink="/" class="close"><i class="bi bi-x"></i></a>
      </div>
      <hr class="mt-0 mb-3">
      <p>{{project.content.about}}</p>
      <h4 class="mb-0">Mijn bijdrage</h4>
      <hr class="mt-2 mb-3">
      <p>{{project.content.contribution}}</p>


      <ngb-carousel *ngIf="images[0] != ''">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="'assets/projects/'+ project.id + '/' + image" alt="Random first slide" width="70%" class="img-fluid">
          </div>
        </ng-template>
      </ngb-carousel>

      <h4 class="mb-0">Besluit</h4>
      <hr class="mt-2 mb-3">
      <p>{{project.content.verdict}}</p>

      <h4 class="mb-0">Bijlage</h4>
      <hr class="mt-2 mb-3">
      <div class="d-flex">
        <button class="btn btn-primary me-2" *ngFor="let attachment of attachments">{{attachment}}</button>
      </div>
    </div>
  </div>
</div>
