@import "src/scss/cvariables";

.wrapper {
  height: 92vh;
  padding: 20px 0px;

  .paper {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 24px;
    border-radius: 16px;
    padding: 20px 35px 40px 35px;
    height: 100%;

    .content {
      overflow-y: scroll;
      height: 90%;
      padding: 10px;
      /* scrollbar width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* scrollbar track */
      &::-webkit-scrollbar-track {
        background: #eeeded;
      }

      /* scrollbar handle */
      &::-webkit-scrollbar-thumb {
        background-color: #5d5d5d;
      }


      p {
        white-space: pre-wrap;
      }

      .picsum-img-wrapper {
        display: flex;
        justify-content: center;

      }




    }
    .paper-header {
      .close {
        font-size: 2.5rem;
      }
    }

    * {
      color: black;
    }
  }
}


