<div class="wrapper container">
  <div class="paper">
    <div class="paper-header d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <h3 class="mb-0 me-2" (click)="scroll('projects')">{{project.title}}</h3>
      <ng-container *ngIf="project.content.languages != null">
        <div class="d-flex align-items-center languages">
             <div *ngFor="let language of project.content.languages">
              <div class="language d-flex align-items-center ms-2">
                <img src="{{language.icon}}" alt="">
                <span class="language-text ps-2">{{language.title}}</span>
              </div>
        </div>
        </div>
      </ng-container>
      </div>
      <a routerLink="/" class="close"><i class="bi bi-x"></i></a>
    </div>
    <hr class="mt-0 mb-3">
    <div class="content">
      <div class="alert alert-red" *ngIf="project.content.alert != null" role="alert">
        <b  *ngIf="project.content.alert.title != null">
          {{project.content.alert.title}}
        </b>

        {{project.content.alert.content}}
      </div>

      <p>{{project.content.about}}</p>
      <h4 class="mb-0">Mijn bijdrage</h4>
      <hr class="mt-2 mb-3">
      <p>{{project.content.contribution}}</p>

      <mdb-carousel [dark]="true" [controls]="true" [animation]="'slide'"  *ngIf="project.content.images.length > 0">
        <mdb-carousel-item *ngFor="let image of project.content.images">
          <div class="picsum-img-wrapper">
            <img
              [ngClass]="{'w-25' : project.id == 'ca' || project.id == 'md'}" [src]="'assets/projects/'+ project.id + '/' + image" alt="{{'Image for ' + project.title}}" width="70%" class="img-fluid"
            />
          </div>
        </mdb-carousel-item>
      </mdb-carousel>


      <h4 class="mb-0 mt-2">Besluit</h4>
      <hr class="mt-2 mb-3">
      <p>{{project.content.verdict}}</p>

     <ng-container *ngIf="project.content.attachments.length > 0">
       <h4 class="mb-0">Bijlage</h4>
       <hr class="mt-2 mb-3">
       <div class="d-flex flex-wrap">
         <app-project-attachment [attachment]=attachment *ngFor="let attachment of project.content.attachments"></app-project-attachment>
       </div>
     </ng-container>
    </div>
  </div>
</div>

