button{
  border-radius: 50px;

}

.color-github{
  color: whitesmoke;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.color-website, .color-email, .color-pdf, .color-ppt, .color-image{
  color: whitesmoke;
  background-color: #90ba93;
  background-image: linear-gradient(160deg, #90ba93 0%, #72b877 100%);
}

.color-download{
  color: whitesmoke;
  background-color: #90ba93;
  background-image: linear-gradient(160deg, #90ba93 0%, #72b877 100%);
}

.color-youtube{
  color: whitesmoke;
  background-color: #FF0000;
  background-image: linear-gradient(160deg, #FF0000 0%, #FF0000 100%);
}
