<div class="container">
  <div class="d-flex justify-content-between">
    <h2>About me</h2>

  </div>

  <div class="row">
    <div class="col-12 col-lg-6 order-1 order-lg-0 pt-0 py-lg-4 pe-lg-5 about-left">
      <div class="row">
        <div class="col-12 text-center text-md-left col-md-5">
          <img src="assets/foto-joppe.jpg" alt="Foto Joppe Peeters"
               class="img-fluid info-img mb-2 mb-lg-0">
        </div>
        <div class="col-12 text-md-left col-md-7 my-auto">
          <p class="letter-spacing-1 mb-1">
                            <span class="border-bottom border-primary font-weight-bold info-heading">
                                Naam: <br>
                            </span>
            Joppe Peeters
          </p>
          <p class="letter-spacing-1 mb-1">
                            <span class="border-bottom border-primary font-weight-bold letter-spacing-1 info-heading">
                                E-mail: <br>
                            </span>
            <a href="mailto:joppepeeters@gmail.com" class="color-text">joppepeeters@gmail.com</a>
          </p>
          <p class="mt-3 mb-0">
            <button type="button" class="btn btn-primary"><i class="bi bi-file-earmark-person"></i> Mijn cv</button>
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <h3 class="letter-spacing-1">
          Skills
        </h3>
        <app-progress-bar [title]="'Angular'" [value]="90"></app-progress-bar>
        <app-progress-bar [title]="'Flutter'" [value]="85"></app-progress-bar>
        <app-progress-bar [title]="'Spring Boot'" [value]="85"></app-progress-bar>
        <app-progress-bar [title]="'Laravel'" [value]="80"></app-progress-bar>
        <app-progress-bar [title]="'React'" [value]="75"></app-progress-bar>
        <app-progress-bar [title]="'ASP .NET'" [value]="75"></app-progress-bar>


      </div>
    </div>
    <div class="col-12 col-lg-6 order-0 order-lg-1 py-4 pl-lg-5  text-left my-auto">
      <h3 class="letter-spacing-2 text-center">Achtergrond</h3>
      <hr>
      <p class="line-height-2">
        Ik ben Joppe Peeters, geboren in 2001, en student bij de IT Factory van Thomas More Geel. Ik ben
        heel geïnteresseerd in programmeren en daarom heb ik gekozen voor het APP traject. Buiten
        mijn studies, werk ik ook als webdesigner waar ik al een aantal websites
        heb gerealiseerd, deze zijn onderaan terug te vinden.
      </p>
      <p class="line-height-2">
        Later hoop ik iets te doen omtrent het ontwikkelen van web applicaties, omdat ik in het tweede jaar
        van mijn hogeschool opleiding mijn passie hiervoor heb gevonden.
      </p>

    </div>
  </div>

</div>

