<div class="content d-flex flex-column">
  <!--  <video src="assets/wallpaper.mp4" muted loop autoplay></video>-->
  <div class="hero-main d-flex flex-column justify-content-center align-items-center" >
    <div class="container animated-delay-5" animateOnScroll animationName="animated fadeIn">

        <div class="top-pill">
          .NET & Angular Developer @ <a target="_blank" rel="noopener noreferrer" class="work" href="https://allphi.eu">AllPhi</a>

      </div>
      <h1>Joppe Peeters</h1>
      <p class="sub">
        <!-- Ik ben een gepassioneerde student die altijd op zoek is naar een nieuwe uitdaging. <br> Wil je graag meer weten? Dan vertel ik het je graag! -->
        Ik ben een gepassioneerde en gedreven .NET & Angular Developer bij AllPhi inz Westerlo. <br> Wil je graag meer weten? Dan vertel ik het je graag!
      </p>
      <div class="d-flex mt-3">
              <a (click)="scroll('about')" class="offset-link btn text-white btn-primary border-hero-blue mb-2 mb-sm-0 me-sm-4 px-4 rounded-pill animated-delay-7" animateOnScroll animationName="animated pulse">
                Lees meer
              </a>
              <div class="socials d-flex">
                <a href="https://www.linkedin.com/in/joppe-peeters-78b1a6171/" target="_blank" rel="noopener noreferrer">
                  <div class="social-bubble me-1">
                    <i class="bi bi-linkedin"></i>
                  </div>
                </a><a href="https://github.com/PeetersJ2010" target="_blank" rel="noopener noreferrer">
                <div class="social-bubble me-1">
                  <i class="bi bi-github"></i>
                </div>
              </a><a href="mailto:r0802173@student.thomasmore.be">
                <div class="social-bubble">
                  <i class="bi bi-envelope-fill"></i>
                </div>
              </a>
              </div>
            </div>

    </div>
<!--    <div class="d-flex flex-column justify-content-center align-items-center hide-on-init animated-delay-4" animateOnScroll animationName="animated fadeIn">-->
<!--      <h1 class="text-center">Mijn portfolio</h1>-->
<!--      <p>Joppe Peeters</p>-->

<!--      <div class="socials d-flex">-->
<!--        <a href="https://www.linkedin.com/in/joppe-peeters-78b1a6171/" target="_blank" rel="noopener noreferrer">-->
<!--          <div class="social-bubble me-1">-->
<!--            <i class="bi bi-linkedin"></i>-->
<!--          </div>-->
<!--        </a><a href="https://github.com/PeetersJ2010" target="_blank" rel="noopener noreferrer">-->
<!--        <div class="social-bubble me-1">-->
<!--          <i class="bi bi-github"></i>-->
<!--        </div>-->
<!--      </a><a href="mailto:r0802173@student.thomasmore.be">-->
<!--        <div class="social-bubble">-->
<!--          <i class="bi bi-envelope-fill"></i>-->
<!--        </div>-->
<!--      </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="d-flex d-sm-block flex-column mt-3 animated-delay-5" animateOnScroll animationName="animated fadeIn">-->
<!--      <a (click)="scroll('about')" class="offset-link btn btn-secondary border-hero-blue mb-2 mb-sm-0 me-sm-2 animated-delay-7" animateOnScroll animationName="animated pulse">-->
<!--        Lees meer-->
<!--      </a>-->
<!--      <a href="mailto:joppepeeters@gmail.com" class="btn btn-outline-secondary border-hero-blue animated-delay-8" animateOnScroll animationName="animated pulse">-->
<!--        Contacteer mij-->
<!--      </a>-->
<!--    </div>-->
  </div>
  <div class="waves">
  </div>
</div>
