<div class="content d-flex flex-column">
  <div class="hero-main d-flex flex-column justify-content-center align-items-center">
    <h1>My portfolio</h1>
    <p>Joppe Peeters</p>
    <div class="socials d-flex">
      <div class="social-bubble me-1">
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="social-bubble me-1">
        <a href=""><i class="bi bi-github"></i></a>
      </div>
      <div class="social-bubble">
        <a href=""><i class="bi bi-envelope-fill"></i></a>
      </div>
    </div>
  </div>
  <div class="waves">
  </div>
</div>
