<nav class="navbar navbar-expand-lg nav-top fixed-top">
  <div class="container justify-content-end">
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <button id="nav" class='navbar-toggler px-1 border-0' type='button' data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls='navbarNav' aria-expanded="false" aria-label='Toggle navigation'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="scroll('home')" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scroll('about')" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Over mezelf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scroll('projects')" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Projecten</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Contact</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
