<div class="bg-danger project-card mb-3">
  <img *ngIf="project.id == 'shop'" src="assets/1st.png" class="first-place img-fluid rounded mb-3" alt="First place">
  <img src="assets/projects/{{project.img}}" class="img-fluid rounded mb-3" alt="{{project.img}}">
  <div class="d-flex justify-content-between">
    <div>
      <p class="title">{{project.title}}</p>
      <p class="sub">{{project.subTitle}}</p>
      <small>{{project.year}}</small>
    </div>
    <div class="mt-auto mb-1">
      <div *ngIf="project.content.verdict != ''" class="project-more" (click)="openProject(project.id)">
        <i class="bi bi-plus"></i>
      </div>
      <div *ngIf="project.content.verdict == ''" class="project-more-disabled">
        <i class="bi bi-plus"></i>
      </div>
    </div>
  </div>
</div>

