// Shared css classes
@import "cvariables";

@media screen and (min-width: 756px ){
  .h-100 {
    height: 100%;
  }
}


.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.list-count {
  color: white;
  background-color: $primary;
  border-radius: 50px;
  width: 60px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.pill {
  border-radius: 50px !important;
}

.add {
  font-size: 1.9rem;
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
}

.crud-btn {
  .fa-trash, .fa-pen {
    transition: all 0.2s;
    font-size: 1.6rem;
    color: $primary;
  }
  &:hover {
    *{
      color: $secondary;
    }
  }
}

.text-center {
  text-align: center;
}

h2{
  width: fit-content;
  margin-bottom: -0px;
  &::after{
    display: block;
    content: "";
    width: 65%;
    height: 2px;
    border-radius: 5px;
    background-color: $primary;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.modal-dialog{
  max-width: 70vw !important;
}





